$color-primary: #D8483D;
$color-primary-dark: #A31F2C;

$color-secondary: #FC8E58;
$color-secondary-light: #F9B556;

$color-gray: gray;
$color-gray-light-1: #CCC;
$color-gray-light-2: #DDD;
$color-gray-dark: #444;

$color-black: #222;
$color-white:  #fff;

$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 3.2rem;
$font-xlarge: 4.8rem;