nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    width: 50px;
}