@charset "UTF-8";

@import './fonts.css';
@import './variables.css';
@import './reset.css';

.divider {
    width: 120px;
    height: 2px;
    text-align: center;
    background-color: var(--color-third);
    margin: auto;
    margin-top: 5px;
}
