@charset "UTF-8";

@import './variables.css';
@import './reset.css';

.divider {
    width: 85px;
    height: 1px;
    text-align: center;
    background-color: var(--color-primary);
    margin: auto;
    margin-top: 17px;
}
