:root {
    /* Colors */
    --color-black: #393939;
    --color-white: white;
  
    --color-primary: #D8483D;
    --color-primary-dark: #A31F2C;
  
    --color-secondary: #FC8E58;
    --color-secondary-light: #F9B556;

    --color-third: #ff7720;
  
    --color-gray: gray;
    --color-gray-light-1: #CCC;
    --color-gray-light-2: #DDD;
    --color-gray-dark: #444;
  
    /* Font Sizes */
    --font-size-xs: 1.1rem;
    --font-size-s: 1.2rem;
    --font-size-m: 2rem;
    --font-size-l: 3.2rem;
    --font-size-xl: 4.8rem;
  
    /* Typography */
    --font-family-primary: Helvetica, Arial, sans-serif;
    --font-family-secondary: 'Courgette', cursive;
  }