footer {
    background: #f3f3f3;
    width: 100vw;
    height: 70px;
    position: absolute !important;
    box-shadow: 0 -5px 5px -5px #333;
    color: #333;
    align-content: center;
    text-align: center;
    bottom: 0 !important;
}