---
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Antiguo Sabor">
	<section>
		<h1>404 Not Found</h1>
	</section>
</Layout>

<style>

	section {
		padding: 100px 0px;
	}
	h1 {
		text-align: center;
		font-size: var(--font-size-xl);
		color: var(--color-primary);
		line-height: 1em;
	}
</style>
