---
import logo from '../assets/img/logo.png';
import '../assets/css/components/navbar.css';
---

<nav>
    <a href="#" class="navbar__logo">
        <img src={logo}>
        <span>Logo</span>
    </a>

    <ul class="navbar">
        <li>
            <a href="#" class="active">
                Menu Navideño
           </a>
        </li>
        <li>
            <!-- https://elantiguosabor.com -->
            <a href="#"> 
               Inicio
            </a>
        </li>
        <li>
            <!-- https://elantiguosabor.com -->
            <a href="#"> 
               Servicios
            </a>
        </li>
        <li>
            <!-- https://elantiguosabor.com -->
            <a href="#"> 
               Sobre nosotros
            </a>
        </li>
    </ul>

    <div class="navbar__main">
        <div class="navbar__bx navbar__bx-menu" id="navbar-menu-icon"> Icono de menu</div>
    </div>
</nav>