---

---

<nav>
    <a href="#" class="navbar__logo">
        <span>Logo</span>
    </a>


    <ul class="navbar">
        <li>
            <a href="#" class="active">
                Menu Navideño
           </a>
        </li>
        <li>
            <a href="https://elantiguosabor.com">
                El Antiguosabor Web
            </a>
        </li>
    </ul>

    <div class="navbar__main">
        <div class="navbar__bx navbar__bx-menu" id="navbar-menu-icon"> Icono de menu</div>
    </div>
</nav>