---

---

<!-- Content -->
<main>
  <slot />
</main>

<style>
  main {
    padding: 107px 0.5%;
    transition: all 0.5s ease;
  }

  @media (max-width: 1280px) {
    main {
      padding: 79px 0.5%;
      transition: 0.2s;
    }
  }
</style>
