---
import ContactBtns from "../components/ContactBtns.astro";

const year = new Date();
---

<!-- Footer -->
<footer>
  <ContactBtns/>
  <!-- <div id="footer-content">
    <p>
      El antiguo sabor &copy; {year.getFullYear()}. by
      <a
        rel="noreferrer"
        href="https://www.linkedin.com/in/luis-alejandro-ponce-brizuela-22a994166/"
        target="_blank">Alejandro Ponce</a
      >
    </p>
  </div> -->
</footer>

<style>
</style>
