---
import Header from "../components/Header.astro";
import '../assets/sass/main.scss';
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Menu Navideño El Antiguo Sabor</title>

	</head>
	<body>
        <!-- Header -->
        <Header />
        <!-- Content -->
		<main>
            <slot /> <!-- your content is injected here -->
        </main>

        <!-- Footer -->
        <footer>Footer</footer>
	</body>
</html>